:root{
    --menu-text: #666666;
    --corpo: #141922;
    --footer: #282828;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

a{
    display: inline-block;
}


/* MAIN */
main{
    background-color: var(--corpo);
    height: calc(100vh - 75px);
    display: flex;
    overflow: hidden;
}

.menu{
    width: 220px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color: white;
    min-height: 550px;
}
.menu-padding{
    padding: 15px;
    display: flex;
    align-items: center;
    color: var(--menu-text);
}
.menu-icon{
    margin-right: 10px;
    width: 24px;
}
.logo img{
    width: 80%;
}

.top{
    display: flex;
    flex-direction: column;
    min-height: 0;
}
.top-icon{
    line-height: 54px;
}
.top i{
    font-size: 23px;
}

.playlist{
    padding: 15px;
    display: flex;
    flex-direction: column;
    min-height: 0;
}
.create{
    display: flex;
    align-items: center;
    margin: 10px 0;
    color: var(--menu-text);
}
.create .menu-icon{
    width: 30px;
    height: 30px;
    text-align: center;
    background-color: #a3a3a3;
}
.fa-plus{
    line-height: 30px;
    color: black;
}

.playlist ul{
    list-style: none;
}
.playlist li{
    text-decoration: none;
    margin: 10px 0;
    color: var(--menu-text);
}
.playlist-name{
    overflow-y: auto;
}

.bot{
    padding: 15px;
}
.download, .user{
    padding: 10px 0;
}

.download{
    font-size: 12px;
    color: var(--menu-text);
}
.download i{
    margin-right: 10px;
}
.user{
    color: white;
}
.user i{
    margin-right: 10px;
    font-size: 20px;
}



/* Body del main */
.body{
    width: calc(100vw - 220px);
    overflow-y: auto;
    position: relative;
    padding: 20px;
}

.upgrade{
    background-color: rgba(0, 0, 0, 0.3);
    text-align: end;
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100vw - 220px);
}
.upgrade a{
    padding: 12px 40px;
    border: 2px solid white;
    color: white;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    margin: 20px 5px;
}

.content-type{
    margin-top: 80px;
    text-align: center;
}

.content-type ul{
    margin: 15px auto;
    list-style: none;
}
.content-type li{
    color: var(--menu-text);
    display: inline-block;
    text-decoration: none;
    margin: 15px 15px;
    font-weight: bold;   
}

h2{
    color: white;
    margin-bottom: 20px;
}
h5{
    color: var(--menu-text);
    margin-bottom: 20px;
}
.recently-played{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    flex-wrap: wrap;
}
.rp-card{
    width: calc(100% / 6 - 15px);
    text-align: center;
}
.rp-card img{
    width: 100%;
}

.rp-title{
    margin-top: 15px;
    text-align: center;
}
.title{
    margin-bottom: 10px;
    font-weight: bold;
    color: white;
}
.subtitle{
    font-size: 14px;
    color: var(--menu-text);
    font-weight: bold;
}

.create-for, .popular-artist{
    display: flex;
    justify-content: start;
    margin-bottom: 30px;
}
.cr-card{
    margin-right: 15px;
}
.pa-card{
    border-radius: 50%;
}



/* FOOTER */
footer{
    height: 75px;
    background-color: var(--footer);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.f-items{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.f-items img{
    height: 60%;
    margin: 0 10px;
}

.song-played{
    margin-right: 20px;
}
.name-song-1{
    font-weight: bold;
}
.name-song-2{
    color: var(--menu-text);
    font-size: 12px;
}

.song-icons{
    color: var(--menu-text);
}
.fa-heart, .fa-folder{
    margin: 0 5px;
}


.f-i-big{
    flex-direction: column;
    width: 35%;
}

.playback-menu{
    display: flex;
    align-items: center;
}
.fa-shuffle, .fa-backward-step, .fa-forward-step, .fa-arrow-rotate-right{
    margin: 0 12px;
}
.fa-circle-play{
    font-size: 30px;
    margin: 0 17px;
}

.time{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}
.start, .end{
    margin: 0 10px;
    font-size: 12px;
}
.bar{
    width: 50%;
    display: flex;
    margin-right: 15px;
}
.partial{
    width: 25%;
    color: #b1b1b1;
    border: 2px solid #b1b1b1;
    border-radius: 10px;
}
.total{
    width: calc(100% - 25%);
    border: 2px solid var(--menu-text);
    border-radius: 10px;
}

.fa-bars, .fa-tv, .fa-volume-high{
    margin: 0 10px;
    font-size: 12px;
}

.preference, .options{
    width: 20%;
}

.preference{
    justify-content: start;
}
.options{
    justify-content: end;
}

.f-i-big{
    width: 50%;
}





@media all and (min-width:1101px){
    
}

@media all and (max-width:1100px){
    .rp-card{
        width: calc(100% / 4 - 15px);
        margin-top: 15px;
    }
    /* Da rivedere */
    .repositioning{
        position: relative;
        right: calc((100% / 4 + 4px) * 2);
        bottom: 0;
    }
}

@media all and (max-width:700px){
    .rp-card{
        width: calc(100% / 2 - 15px);
        margin-top: 15px;
    }
    /* Da rivedere */
    .repositioning{
        position: static;
    }

    .create-for{
        justify-content: space-between;
    }

    .popular-artist{
        justify-content: space-between;
    }

    .f-resize{
        width: 33%;
    }
}

@media all and (max-width:600px){
    
}